# Editors
.vscode/
# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
.config.env
*.agekey
# Ansible
xanmanning.k3s*
gantsign.keyboard
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
/provision/ansible/roles/bertvv.bind
/provision/ansible/roles/bertvv.dhcp
